// ------------ 
//  Variables 
// ------------

$top-header-bg-color: #7f7045;
$play-color: #74CFF6;
$orange-main-color: #ce7c2a;
$bg-lightgrey-color: #f5f5f5;
$text-color: #444;
$button-color: #ffcc01;
$button-hover-color: #173b67;